<h1>Make a new recipe</h1>

<form action="/recipes" method="POST">
  <label>Name: </label><input type="text" name="name">
  <label>Ingredients: </label><input type="text" name="ingredients">
  <label>Cook Time: </label><input type="text" name="cook_time">
  <label></label><input type="submit">

</form>